.manage-lessons__container{
  margin: 5% 13% 5% 13%;
}
.lesson__container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.add__label{
  margin: 0 auto 0 auto;
  padding: 2%;
}

  .right{
    float:right;
    margin:0px auto 0px auto;
  }

  .lesson--label{
    margin: 0.5%;
    color:black;
    border-top: 1px solid rgb(136, 136, 136);
    border-bottom: 1px solid rgb(136, 136, 136);
    font-size: 2.3ch;
    height: auto;
}

.lesson__label--link{
  text-decoration: none;
  color: #555;
}
.lesson--button{
  margin:0.5%;
  padding: 2%;
  outline: none;
  font-size: 15px;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.15rem;
  background: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(136, 136, 136);

  transition: background-color  0.5s ease-out, color  0.5s ease-out;
  -webkit-transition: background-color  0.5s ease-out, color  0.5s ease-out;
}
.add--button{
  width: 25vh;
  height: 10vh;
  outline: none;
  font-size: 15px;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.15rem;
  background: inherit;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transition: background-color  0.5s ease-out, color  0.5s ease-out;
  -webkit-transition: background-color  0.5s ease-out, color  0.5s ease-out;
}
 button:hover {
    background-color: rgb(87, 87, 87);
    color: rgb(194, 194, 194);
  }
 a:hover {
    background-color: rgb(87, 87, 87);
    color: rgb(194, 194, 194);
  }

  .title{
    font-size: 250%;
    color: rgb(100, 100, 100);
    text-align: center; 
    margin-bottom: 3%;
}