<div *ngIf="initialized" class="cards__container">


  <div class="card">
    <a class="card--link" href="http://localhost:4200/create-group">
      <picture>
        <img class="card--img" src="http://pngimg.com/uploads/plus/plus_PNG73.png">
      </picture>
      <div class="card__content">
        <h2 class="card-title">New Group</h2>
        <p class="card--description">Click here to create your own group !</p>
      </div>
    </a>
  </div>


  <div *ngFor="let group of groups" class="card">
    <picture>
      <img *ngIf="group.cover" class="card--img" src="{{httpRoot}} + {{group.cover.id}}">
      <img *ngIf="!group.cover" class="card--img"
           src="http://www.del-basket.ch/site/sites/default/files/default_images/flat-camera-icon_0.png"
           alt="The image is missing :)">
    </picture>
    <div class="card__content">
      <h2 class="card-title">{{group.name}}</h2>
      <p class="card--description">{{group.shortDescription}}</p>
    </div>
    <div class="card__buttons-container">
      <a class="card__button " href="http://localhost:4200/home/group-details/{{group.id}}/overview">
        View
      </a>
      <a class="card__button " href="http://localhost:4200/create-lesson/{{group.id}}">
        Add Lesson
      </a>
      <a class="card__button " href="http://localhost:4200/edit-group/{{group.id}}/update">
        Edit
      </a>
      <button class="card__button " (click)="deleteGroup(group.id)">
        Delete
      </button>
    </div>
  </div>
</div>
