<div class="my__container">
  <article class="main">

    <div class="title">{{lesson?.orderNumber}}. {{lesson?.title}}</div>
    <div class="main__body">
      <div *ngIf="lesson?.video?.id">
        <video width="100%" height="" controls>
          <source src="http://localhost:8080/api/files/videos/{{lesson?.video.id}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="description data">
        <p>
          {{lesson?.body}}
        </p>
      </div>
    </div>
    <div *ngIf="lesson?.files">
      <div class="title--small ">Files</div>
      <div class="lesson--label" *ngFor="let f of lesson.files; let i = index">
        <button class="lesson--button" (click)="downloadFile(f?.id)"> Download</button>
        {{i + 1}} |<span class="file-name">{{f.name}} </span> <span class="file-summary"> {{f.summary}}</span>
      </div>
    </div>
  </article>
</div>
